.float-left {
	float: left;
}

.z-triangle {
	border: 0.5em solid #aaa;
	width: 0;
	height: 0;
	display: inline-block;
}

.z-triangle:hover {
	border-color: #ccc;
}

.z-triangle.z-triangle-right {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}
.z-triangle.z-triangle-down {
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.z-select {
	font-size: 1em;
	line-height: 1.2;
}

.z-select .z-triangle {
	position: relative;
	top: 0.4em;
}